@model RooftopActorsV3.Models.Actors

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Actors</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.actName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.actName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.actSurname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.actSurname)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.actID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
