@model IEnumerable<RooftopActorsV3.Models.Actors>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>



<div class="container">
    <div class="row">
        <div class="col-lg-9">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-lg-4 col-md-6 mb-4" style="padding:1% 1% 1% 1%">
                        <div class="card h-100 list-group-item" style="padding: 5% 5% 5% 5%; border-radius:0%">
                            <a href="#">
                                @*<img class="card-img-top" src="@Url.Content(item.ProductImage)" alt="Product Image" height="60%" width="60%" />*@
                            </a>
                            <div class="card-body">
                                <h3 class="card-title">
                                    <a href="#">@Html.DisplayFor(modelItem => item.actName)</a>

                                </h3>
                                <h4>
                                    R @Html.DisplayFor(modelItem => item.actSurname)
                                </h4>
                                <p class="card-text">
                                    @Html.DisplayFor(modelItem => item.actName)
                                    <br />
                                    @*@Html.DisplayFor(modelItem => item.productDateEndPromo)
                                        <br />*@
                                    @Html.DisplayFor(modelItem => item.actSurname)
                                </p>
                            </div>
                            <div class="card-footer">
                                @Html.ActionLink("Edit", "Edit", new { id = item.actID }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.actID }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.actID })

                            </div>
                        </div>

                    </div>

                }


            </div>
            <!-- /.row -->
        </div>
        <!-- /.col-lg-9 -->
        </div>
</div>